<div class="card">
    <img src="https://img.freepik.com/free-photo/purple-osteospermum-daisy-flower_1373-16.jpg?w=2000" alt="images" class="card-img-top">
    <div class="card-body"> 
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ml-3">Features</small>
        <small class="bg-light text-info text-center ml-3">View - 100.256</small>
        <h5 class="mt-1">How to start a blog on 2022 edition</h5>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore voluptatibus ea in quis, repellendus, necessitatibus aliquid consequatur exercitationem aspernatur cupiditate illum commodi rem quas similique voluptatem minus earum quasi ipsa dolor et veniam, deleniti perferendis omnis! Debitis maiores commodi odio.</p>
        <small class="bg-light text-warning text-center ml-3">Last updated - SEP 20,2021</small>
    </div>
</div>