<div class="card">
    <div class="card-body">
        <div class="text-center mt-3 mb-5">
            <h3>Subscription form</h3>
            <p class="m-auto subs-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus pariatur repellat libero corporis commodi enim quaerat aut, ipsam provident possimus aperiam, eveniet perspiciatis est exercitationem autem quos delectus distinctio labore cum iusto aspernatur quasi saepe culpa? Magni voluptatibus dolore et?</p>
            
            <form action="" method="" class="form-inline mb-5">
                <div class="form-group col-md-5">
                    <input type="text" name="" class="form-control" placeholder="Your Name" id="">
                </div>
                <div class="form-group col-md-5">
                    <input type="email" name="" class="form-control" placeholder="Your email" id="">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-info btn-block btn-subs">Subscribe</button>
                </div>
            </form>
       
        </div>
    </div>
</div>