<div class="bg-theme p-5">
    <div class="container">

        <h1>General knowledge</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro maiores sint aperiam blanditiis labore in est nesciunt molestiae modi fugiat.</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 mb-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mb-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mb-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mb-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mb-3">
            <app-post-card></app-post-card>
        </div>
    </div>
</div>