<div class="card mt-5">
    <div class="card-body">
        <h1>Leave a comment</h1>
        <p>You can leave a comment using this comment form</p>
    
        <form action="">
            <div class="form-group">
                <label for="">Name</label>
                <input type="text" class="form-control shadow-effect" placeholder="enter your name here">
            </div>
            <div class="form-group">
                <label for="">comment</label>
                <textarea cols="30" rows="10" class="form-control shadow-effect" placeholder="enter your comment here"></textarea>
            </div>
            <button class="btn btn-info">Add a comment</button>
        </form>
    </div>
</div>