<div class="card my-5 pb-5 shadow-effect">
    <div class="card-body">
        <h4 class="my-3">Comments (15,256)</h4>
        <div class="comment-box">
            <h6 class="mb-0">John Doe</h6>
            <small class="text-danger">LAst Updated - sep 20,2021</small>
            <div class="mt-3 mb-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quasi vitae saepe placeat modi, dolores, dicta enim itaque nam incidunt impedit repudiandae sint quidem quos iusto voluptates ea sed sunt sit? Omnis labore quasi possimus id architecto praesentium consequatur velit!
            </div>
            <a href="#" class="mt-1">Reply</a>
            <a href="#" class="mt-1 ml-3">View Reply</a>
            <hr>
        </div>
    </div>
</div>